/* Accordion 000-250-006 */

@import url('https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono');

.passage h1 {
    font-family: 'Share Tech Mono', monospace;
    text-align: right;
}


button.accordion {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px double grey;
    border-right: none;
    border-left: none;
    border-top: none;
    text-align: left;
    outline: none;
    transition: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
    background-color: transparent;
    font-weight: 900;
}

button.accordion.active {
    background-color: transparent;
}

button.accordion:hover {
    background-color: #2E2E2E;
}

button.accordion:before {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.unStaffed {
    background-color: transparent;
    padding: .5em .2em;
    margin-bottom: 1em;
    border-bottom: thin inset grey;
}

.unStaffed:before {
    content: '\00D7';
    color: #777;
    font-weight: bold;
    color: red;
    float: left;
    margin-right: 5px;
}

.unStaffed:after {
    content: attr(data-after);
    float: right;
    margin-left: 2em;
    font-weight: strong;
    color: green;
}

button.accordion:after {
    content: attr(data-after);
    float: right;
    margin-left: 2em;
    font-weight: normal;
    color: green;
}

button.accordion.active:before {
    content: "\2212";
}

.accHidden {
    padding: 0 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 0;
    overflow: hidden;
}

.macro-include {
    clear: both;
}
