:root {
  --main-theme: #383838;
  --text-dark: black;
  --text-light: white;
  --text-color: var(--text-light);
}

#story {
  margin: 0 !important;
}

.w3-dropdown-content {min-width: 100px; width:140px;}
.w3-dropdown-hover:hover .w3-dropdown-content .w3-dropdown-content {display:none}
.w3-dropdown-hover:hover .w3-dropdown-hover:hover .w3-dropdown-content .w3-dropdown-content {display:none}
.w3-dropdown-hover:hover .w3-dropdown-hover:hover .w3-dropdown-content {display:inline;right:-100%}
.w3-dropdown-hover:hover .w3-dropdown-hover:hover .w3-dropdown-hover:hover .w3-dropdown-content {display:inline;right:-100%}

.header {
  padding: 30px;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}

/* clears SugarCube's default transition */
.passage {
    transition: none;
    -webkit-transition: none;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.mobile {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.mobile {
    font-size: 30px;
  }
}

body {
	color: #ddd;
	background-color: #222;
	font-size: 1em;
}

.hidden {
	display: none;
}

/* default is 54em */
#passages {
    max-width: 100%;
}

p {
    text-indent: 2em;
}

.passage h1 {
	text-align:left
}

.passage h2 {
  	font-size:1em;
  	margin-bottom:0px
}

button {
  background: rgb(103, 103, 103);
  border-radius: 6px;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
}

button:hover {background-color: teal}

button:active {
  background-color: cyan;
  color: black;
  box-shadow: 0 1px teal;
  transform: translateY(3px);
}

button:disabled{
  background-color: rgb(0, 94, 94);
  color: black;
  box-shadow: none;
}

.w3-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w3-button {
	border-radius: 0px;
	box-shadow: none;
}

.w3-button:active {
	border-radius: 0px;
	box-shadow: none;
	transform: none;
}

.imageRef {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.tinyImg {
    height: 120px;
    width: 120px;
    float: left;
}

.smlImg {
    height: 150px;
    width: 150px;
    float: left;
}

.medImg {
    height: 300px;
    width: 300px;
    float: right;
}

.lrgRender {
    height: 531px;
    width: 531px;
    margin-right: -50px;
    margin-left: 3px;
    float: right;
}

.lrgVector {
    width: 336px;
    height: 600px;
    float: right;
}

.lrgVector svg {
    width: 336px;
    height: 600px;
}

/* Colors are made as css classes, to allow them to be
   changed for a light color scheme (for example). */
.link { color: #68D } /* link color */
.aquamarine { color: aquamarine }
.coral { color: coral }
.cyan { color: cyan }
.darkgoldenrod { color: darkgoldenrod }
.darkred { color: darkred }
.darkviolet { color: darkviolet }
.deeppink { color: deeppink }
.deepskyblue { color: deepskyblue }
.gold { color: gold }
.goldenrod { color: goldenrod }
.gray { color: gray }
.green { color: green }
.hotpink { color: hotpink }
.lawngreen { color: lawngreen }
.lightcoral { color: lightcoral }
.lightgreen { color: lightgreen }
.lightpink { color: lightpink }
.lightsalmon { color: lightsalmon }
.lime { color: lime }
.limegreen { color: limegreen }
.magenta { color: magenta }
.mediumaquamarine { color: mediumaquamarine }
.mediumorchid { color: mediumorchid }
.mediumseagreen { color: mediumseagreen }
.orange { color: orange }
.orangered { color: orangered }
.orchid { color: orchid }
.pink { color: pink }
.red { color: red }
.seagreen { color: seagreen }
.springgreen { color: springgreen }
.tan { color: tan }
.yellow { color: yellow }
.yellowgreen { color: yellowgreen }

.link a { color: #68D } /* link color */
.aquamarine a { color: aquamarine }
.coral a { color: coral }
.cyan a { color: cyan }
.darkgoldenrod a { color: darkgoldenrod }
.darkred a { color: darkred }
.darkviolet a { color: darkviolet }
.deeppink a { color: deeppink }
.deepskyblue a { color: deepskyblue }
.gold a { color: gold }
.goldenrod a { color: goldenrod }
.gray a { color: gray }
.green a { color: green }
.hotpink a { color: hotpink }
.lawngreen a { color: lawngreen }
.lightcoral a { color: lightcoral }
.lightgreen a { color: lightgreen }
.lightpink a { color: lightpink }
.lightsalmon a { color: lightsalmon }
.lime a { color: lime }
.limegreen a { color: limegreen }
.magenta a { color: magenta }
.mediumaquamarine a { color: mediumaquamarine }
.mediumorchid a { color: mediumorchid }
.mediumseagreen a { color: mediumseagreen }
.orange a { color: orange }
.orangered a { color: orangered }
.orchid a { color: orchid }
.pink a { color: pink }
.red a { color: red }
.seagreen a { color: seagreen }
.springgreen a { color: springgreen }
.tan a { color: tan }
.yellow a { color: yellow }
.yellowgreen a { color: yellowgreen }

/*Filter styles*/
/* .filter { filter: brightness(0) saturate(100%) ; } */
.manefilter {filter: brightness(1) opacity(0.2);}
.eyefilter {filter: brightness(1) opacity(.5);}
.blackfilter { filter: brightness(20%) saturate(100%); }
.greyfilter { filter: brightness(50%) saturate(50%); }
/*.whitefilter { filter: brightness(0) saturate(100%) invert(96%) sepia(100%) saturate(0%) hue-rotate(130deg) brightness(105%) contrast(105%); }*/
.whitefilter { filter: brightness(100%) saturate(100%) }
.goldfilter { filter: brightness(0) saturate(100%) invert(85%) sepia(8%) saturate(6907%) hue-rotate(359deg) brightness(104%) contrast(104%); }
.lavenderfilter { filter: brightness(0) saturate(100%) invert(82%) sepia(20%) saturate(166%) hue-rotate(202deg) brightness(108%) contrast(96%); }
.cornflowerbluefilter { filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(684%) hue-rotate(184deg) brightness(97%) contrast(91%); }
.midnightbluefilter { filter: brightness(0) saturate(100%) invert(14%) sepia(24%) saturate(5975%) hue-rotate(227deg) brightness(89%) contrast(108%); }
.orchidfilter { filter: brightness(0) saturate(100%) invert(70%) sepia(57%) saturate(1709%) hue-rotate(257deg) brightness(89%) contrast(89%); }
.seagreenfilter { filter: brightness(0) saturate(100%) invert(38%) sepia(9%) saturate(3228%) hue-rotate(94deg) brightness(114%) contrast(78%); }
.bluevioletfilter { filter: brightness(0) saturate(100%) invert(22%) sepia(38%) saturate(7263%) hue-rotate(266deg) brightness(90%) contrast(96%); }
.royalbluefilter { filter: brightness(0) saturate(100%) invert(39%) sepia(34%) saturate(5147%) hue-rotate(214deg) brightness(92%) contrast(91%); }
.skybluefilter { filter: brightness(0) saturate(100%) invert(76%) sepia(35%) saturate(398%) hue-rotate(156deg) brightness(93%) contrast(98%); }
.violetfilter { filter: brightness(0) saturate(100%) invert(74%) sepia(57%) saturate(1645%) hue-rotate(239deg) brightness(96%) contrast(95%); }

.peachpufffilter { filter: brightness(0) saturate(100%) invert(79%) sepia(22%) saturate(377%) hue-rotate(342deg) brightness(104%) contrast(106%); }
.crimsonfilter { filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5147%) hue-rotate(341deg) brightness(88%) contrast(94%); }
.plumfilter { filter: brightness(0) saturate(100%) invert(86%) sepia(90%) saturate(1345%) hue-rotate(213deg) brightness(89%) contrast(93%); }
.indigofilter { filter: brightness(0) saturate(100%) invert(9%) sepia(96%) saturate(5177%) hue-rotate(277deg) brightness(73%) contrast(119%); }
.purplefilter { filter: brightness(0) saturate(100%) invert(12%) sepia(64%) saturate(5612%) hue-rotate(292deg) brightness(80%) contrast(115%); }
.coralfilter { filter: brightness(0) saturate(100%) invert(71%) sepia(42%) saturate(4586%) hue-rotate(326deg) brightness(103%) contrast(101%); }
.bluefilter { filter: brightness(0) saturate(100%) invert(9%) sepia(96%) saturate(6563%) hue-rotate(246deg) brightness(90%) contrast(146%); }
.steelbluefilter { filter: brightness(0) saturate(100%) invert(51%) sepia(30%) saturate(886%) hue-rotate(165deg) brightness(86%) contrast(84%); }
.navyfilter { filter: brightness(0) saturate(100%) invert(15%) sepia(50%) saturate(7393%) hue-rotate(242deg) brightness(51%) contrast(130%); }
.cornsilkfilter { filter: brightness(0) saturate(100%) invert(96%) sepia(88%) saturate(685%) hue-rotate(298deg) brightness(118%) contrast(101%); }
.fuchsiafilter { filter: brightness(0) saturate(100%) invert(20%) sepia(89%) saturate(5554%) hue-rotate(295deg) brightness(114%) contrast(121%); }

.mediumvioletredfilter { filter: brightness(0) saturate(100%) invert(14%) sepia(98%) saturate(3794%) hue-rotate(310deg) brightness(91%) contrast(93%); }
.redfilter { filter: brightness(0) saturate(100%) invert(18%) sepia(91%) saturate(7292%) hue-rotate(1deg) brightness(93%) contrast(121%); }
.blanchedalmondfilter { filter: brightness(0) saturate(100%) invert(91%) sepia(22%) saturate(597%) hue-rotate(315deg) brightness(105%) contrast(102%); }
.forestgreenfilter { filter: brightness(0) saturate(100%) invert(35%) sepia(96%) saturate(410%) hue-rotate(71deg) brightness(98%) contrast(96%); }
.springgreenfilter { filter: brightness(0) saturate(100%) invert(67%) sepia(52%) saturate(1629%) hue-rotate(95deg) brightness(108%) contrast(102%); }
.rebeccapurplefilter { filter: brightness(0) saturate(100%) invert(20%) sepia(82%) saturate(2208%) hue-rotate(258deg) brightness(81%) contrast(85%); }
.palegoldenrodfilter { filter: brightness(0) saturate(100%) invert(96%) sepia(38%) saturate(799%) hue-rotate(322deg) brightness(106%) contrast(87%); }
.slatebluefilter { filter: brightness(0) saturate(100%) invert(37%) sepia(22%) saturate(3337%) hue-rotate(222deg) brightness(91%) contrast(84%); }
.maroonfilter { filter: brightness(0) saturate(100%) invert(12%) sepia(41%) saturate(5939%) hue-rotate(351deg) brightness(92%) contrast(120%); }
.pinkfilter { filter: brightness(0) saturate(100%) invert(79%) sepia(13%) saturate(877%) hue-rotate(304deg) brightness(102%) contrast(104%); }
.mediumpurplefilter { filter: brightness(0) saturate(100%) invert(46%) sepia(83%) saturate(707%) hue-rotate(220deg) brightness(93%) contrast(84%); }
.deeppinkfilter { filter: brightness(0) saturate(100%) invert(38%) sepia(97%) saturate(6682%) hue-rotate(316deg) brightness(101%) contrast(102%); }

.hotpinkfilter { filter: brightness(0) saturate(100%) invert(69%) sepia(47%) saturate(4547%) hue-rotate(296deg) brightness(102%) contrast(101%); }
.greenfilter { filter: brightness(0) saturate(100%) invert(24%) sepia(97%) saturate(1718%) hue-rotate(94deg) brightness(100%) contrast(106%); }
.chocolatefilter { filter: brightness(0) saturate(100%) invert(72%) sepia(19%) saturate(1902%) hue-rotate(333deg) brightness(66%) contrast(74%); }
.lightcoralfilter { filter: brightness(0) saturate(100%) invert(69%) sepia(59%) saturate(2285%) hue-rotate(310deg) brightness(100%) contrast(88%); }
.siennafilter { filter: brightness(0) saturate(100%) invert(31%) sepia(99%) saturate(414%) hue-rotate(335deg) brightness(94%) contrast(86%); }
.tanfilter { filter: brightness(0) saturate(100%) invert(77%) sepia(38%) saturate(279%) hue-rotate(355deg) brightness(90%) contrast(88%); }
.darkgoldenrodfilter { filter: brightness(0) saturate(100%) invert(47%) sepia(93%) saturate(454%) hue-rotate(5deg) brightness(95%) contrast(92%); }
.orangeredfilter { filter: brightness(0) saturate(100%) invert(31%) sepia(90%) saturate(2270%) hue-rotate(359deg) brightness(99%) contrast(110%); } 
.thistlefilter { filter: brightness(0) saturate(100%) invert(97%) sepia(73%) saturate(976%) hue-rotate(191deg) brightness(95%) contrast(77%); }
.salmonfilter { filter: brightness(0) saturate(100%) invert(73%) sepia(23%) saturate(7490%) hue-rotate(318deg) brightness(109%) contrast(96%); }
.dodgerbluefilter { filter: brightness(0) saturate(100%) invert(60%) sepia(52%) saturate(6852%) hue-rotate(193deg) brightness(101%) contrast(102%); }
.greenyellowfilter { filter: brightness(0) saturate(100%) invert(87%) sepia(69%) saturate(567%) hue-rotate(25deg) brightness(104%) contrast(101%); }
.palevioletredfilter { filter: brightness(0) saturate(100%) invert(75%) sepia(16%) saturate(2569%) hue-rotate(294deg) brightness(86%) contrast(101%); }

.brownfilter { filter: brightness(0) saturate(100%) invert(15%) sepia(40%) saturate(6816%) hue-rotate(351deg) brightness(91%) contrast(78%); }
.burlywoodfilter { filter: brightness(0) saturate(100%) invert(80%) sepia(26%) saturate(497%) hue-rotate(350deg) brightness(91%) contrast(89%); }
.sandybrownfilter { filter: brightness(0) saturate(100%) invert(71%) sepia(42%) saturate(717%) hue-rotate(332deg) brightness(101%) contrast(91%); }
.indianredfilter { filter: brightness(0) saturate(100%) invert(44%) sepia(40%) saturate(1010%) hue-rotate(312deg) brightness(91%) contrast(73%); }
.firebrickfilter { filter: brightness(0) saturate(100%) invert(20%) sepia(33%) saturate(7491%) hue-rotate(351deg) brightness(79%) contrast(87%); }
.yellowfilter { filter: brightness(0) saturate(100%) invert(86%) sepia(75%) saturate(752%) hue-rotate(354deg) brightness(105%) contrast(107%); }
.tomatofilter { filter: brightness(0) saturate(100%) invert(52%) sepia(75%) saturate(2904%) hue-rotate(333deg) brightness(104%) contrast(101%); }
.rosybrownfilter { filter: brightness(0) saturate(100%) invert(70%) sepia(31%) saturate(303%) hue-rotate(314deg) brightness(83%) contrast(82%); }
.chartreusefilter { filter: brightness(0) saturate(100%) invert(84%) sepia(16%) saturate(3475%) hue-rotate(36deg) brightness(101%) contrast(111%); }
.orangefilter { filter: brightness(0) saturate(100%) invert(64%) sepia(19%) saturate(3925%) hue-rotate(1deg) brightness(106%) contrast(102%); }
.khakifilter { filter: brightness(0) saturate(100%) invert(88%) sepia(14%) saturate(1057%) hue-rotate(5deg) brightness(106%) contrast(88%); }
.olivedrabfilter { filter: brightness(0) saturate(100%) invert(44%) sepia(82%) saturate(377%) hue-rotate(38deg) brightness(95%) contrast(91%); }
.moccasinfilter { filter: brightness(0) saturate(100%) invert(95%) sepia(100%) saturate(503%) hue-rotate(307deg) brightness(101%) contrast(107%); }
.darksalmonfilter { filter: brightness(0) saturate(100%) invert(85%) sepia(14%) saturate(6050%) hue-rotate(309deg) brightness(103%) contrast(83%); }	 
.yellowgreenfilter { filter: brightness(0) saturate(100%) invert(77%) sepia(64%) saturate(536%) hue-rotate(26deg) brightness(93%) contrast(80%); } 



/*! <<checkvars>> macro for SugarCube 2.x */
#ui-dialog-body.checkvars{padding:1em}#ui-dialog-body.checkvars h1{font-size:1em;margin-top:0}#ui-dialog-body.checkvars table{border-collapse:collapse;border-spacing:0}#ui-dialog-body.checkvars thead tr{border-bottom:2px solid #444}#ui-dialog-body.checkvars tr:not(:first-child){border-top:1px solid #444}#ui-dialog-body.checkvars td,#ui-dialog-body.checkvars th{padding:.25em 1em}#ui-dialog-body.checkvars td:first-child,#ui-dialog-body.checkvars th:first-child{padding-left:.5em;border-right:1px solid #444}#ui-dialog-body.checkvars td:last-child,#ui-dialog-body.checkvars th:last-child{padding-right:.5em}#ui-dialog-body.checkvars th:first-child{text-align:center}#ui-dialog-body.checkvars td:first-child{font-weight:700;text-align:right}#ui-dialog-body.checkvars td{font-family:monospace,monospace;vertical-align:top;white-space:pre-wrap}#ui-dialog-body.checkvars .scroll-pad{margin:0;padding:0}

/*! <<bugreport>> macro for SugarCube 2.x */
#ui-dialog-body.bugreport #bugreport-info{margin-bottom:1em}#ui-dialog-body.bugreport #bugreport-data{display:block;overflow:auto;font-family:monospace,monospace;background-color:transparent;border:1px solid #444;margin:0;padding:6px;height:auto;min-height:200px;white-space:normal}#ui-dialog-body.bugreport .scroll-pad{margin:0;padding:0}


.hang {
	text-indent: -2em;
	margin-left: 2em;
}

/* Stats */

.stat-value {
  text-align: center;
}
.stat-value:before {
  content: "[";
  color: white;
}
.stat-value:after {
  content: "]";
  color: white;
}
.stat-low {
  color: red;
}
.stat-average {
  color: yellow;
}
.stat-high {
  color: green;
}
.stat-unknown {
  color: purple;
}

/* Info Container */

.info-container {
  display: none;
  position: absolute;
  margin-top: -50px;
  width: 500px;
  background: grey;
  z-index: 2;
  border: 1px solid white;
  border-radius: 50px;
  padding: 1em;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
.info-active.info-container {
  display: flex;
}

/* Header */

#header {
  position: fixed;
  z-index: 2;
}
#header,
#modal-header {
  background: var(--main-theme);
  padding-left: 1em;
  color: var(--text-color);
}
#modal-content {
  background: var(--main-theme);
  padding: 1em;
}
#app-name {
  color: var(--text-color);
}
#close-dropdown-btn {
  color: var(--text-color);
}

/* Sidebar */

#sidebar {
  display: none;
  height: 100%;
  position: fixed;
  margin: 0;
  z-index: 3;
  overflow: scroll;
  background: var(--main-theme);
}
#sidebar.active {
  width: 20%;
  display: block;
}

#navHead {
  font-size: 2rem;
}

#main.sidebar-active,
#navHead.sidebar-active {
  margin-left: 25%;
}

.dropdown-container {
  display: flex !important;
  flex-direction: column;
}

.dropdown-btn {
  width: 100%;
  border-radius: 0px !important;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em !important;
}
.dropdown-btn > i {
  padding-left: 0.5em;
}

.dropdown-inner-container.w3-show {
  display: flex !important;
  flex-direction: column;
}
.dropdown-inner-container span {
  padding-left: 1em !important;
}
.dropdown-inner-container .dropdown-btn,
.dropdown-inner-container span button {
  background-color: #9e9e9e !important;
  padding-left: 0.5em !important;
}
.dropdown-inner-container i {
  padding-left: 8px !important;
}
.dropdown-inner-container .dropdown-inner-container .dropdown-btn > span,
.dropdown-inner-container .dropdown-inner-container span button {
  padding-left: 1.5em !important;
}
.dropdown-inner-container .dropdown-inner-container .dropdown-inner-container .dropdown-btn > span,
.dropdown-inner-container .dropdown-inner-container .dropdown-inner-container span button {
  padding-left: 1.5em !important;
}

/* Fluffy Description */

.fluffy-checkbox {
  position: relative;
  left: -22px;
  top: 22px;
  z-index: -1;
}

.fluffy-desc-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
}

.fluffy-name {
  width: 160px;
  font-size: 1.2rem;
}

.fluffy-quickactions {
  font-size: 1.2rem;
}
.fluffy-quickactions > * {
  padding-right: 1em;
  border-right: 1px solid white;
}
.fluffy-quickactions > *:not(:first-child) {
  padding-left: 1em;
}
.fluffy-quickactions > *:last-child {
  border-right: none;
}

.fluffy-desc-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1em;
}

.fluffy-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fluffy-image img {
  width: 300px;
  height: 300px;
  position: absolute;
}

.fluffy-details {
  display: flex;
  flex-direction: row;
  width: 70%;
}
.fluffy-details-left {
  width: 40%;
}
.fluffy-details-right {
  width: 60%;
}
.fluffy-details > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}
.fluffy-details > div > div {
  padding: 0.5em;
}

.fluffy-stats,
.fluffy-attributes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.fluffy-stats .stat-entry,
.fluffy-attributes .attribute-entry  {
  padding: 0em 0.5em 0em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2em;
  border-radius: 50px;
  cursor: pointer;
  width: 30%;
}
.fluffy-stats .stat-entry:hover,
.fluffy-stats .stat-entry:hover .stat-value:before,
.fluffy-stats .stat-entry:hover .stat-value:after,
.fluffy-attributes .attribute-entry:hover,
.fluffy-attributes .attribute-entry:hover .attribute-value:before,
.fluffy-attributes .attribute-entry:hover .attribute-value:after {
  background: lightgray;
  color: black;
}

.fluffy-color {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.fluffy-family span,
.fluffy-color span {
  padding: 0em 0.5em 0em 0.5em;
  border-radius: 50px;
}

.fluffy-traits {
  display: flex;
  flex-direction: column;
}
.fluffy-traits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fluffy-traits-entry {
  position: relative;
  padding: 0 0.5em 0 0.5em;
  border: 1px solid white;
  margin: 0.2em;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.fluffy-traits-entry:hover {
  background: lightgray;
  color: black;
}

.fluffy-family {
  display: flex;
  flex-direction: column;
}

.fluffy-age {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive */

/* On screens that are 1600px or less */
@media screen and (max-width: 1600px) {
  .fluffy-stats .stat-entry,
  .fluffy-attributes .attribute-entry {
    width: 45%;
  }
  .fluffy-image img {
    width: 250px;
    height: 250px;
  }
}

/* On screens that are 1200px or less */
@media screen and (max-width: 1200px) {
  .fluffy-traits {
    align-items: center;
  }
  .fluffy-traits-list {
    justify-content: center;
  }
  .fluffy-details {
    flex-direction: row;
  }
  .fluffy-details > div {
    align-items: center;
  }
  .fluffy-color {
    align-items: center;
    width: 100%;
  }
  .fluffy-desc-top {
    height: auto;
    flex-direction: column;
  }
  .fluffy-desc-bottom {
    flex-direction: column;
  }
  .fluffy-image {
    width: 100%;
    height: 300px;
  }
  .fluffy-details {
    flex-direction: row;
    width: 100%;
  }
  .fluffy-details-left {
    width: 100%;
  }
  .fluffy-details-right {
    width: 100%;
  }
  .fluffy-family {
    align-items: center;
  }
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  #sidebar.active {
    width: 40%;
  }
  #main.sidebar-active,
  #navHead.sidebar-active {
    margin-left: 40%;
  }
  .info-container {
    width: 50vw;
  }
  .fluffy-details {
    flex-direction: column;
  }
}

/* On screens that are 576px or less */
@media screen and (max-width: 576px) {
  .fluffy-name a {
    padding: 0.5em;
    border-right: none;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #sidebar.active {
    width: 60%;
  }
  #main.sidebar-active,
  #navHead.sidebar-active {
    margin-left: 0;
  }
  .fluffy-quickactions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .fluffy-quickactions > * {
    padding: 0.5em;
    border-right: none;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
  }
  .fluffy-name {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }
  .fluffy-stats .stat-entry,
  .fluffy-attributes .attribute-entry {
    width: 48%;
    margin: 0.2em 0.1em 0.2em 0.1em;
  }
  .fluffy-details > div > div {
    padding: 0.2em;
  }
  .fluffy-details > div {
    padding: 0;
  }
  .fluffy-image {
    height: 200px;
  }
  .fluffy-image img {
    width: 200px;
    height: 200px;
  }
}

/* On screens that are 448px or less */
@media screen and (max-width: 448px) {
  .info-container {
    width: 100vw;
  }
}

/* On screens that are 413px or less */
@media screen and (max-width: 413px) {

}

/* :root {
  --startColor: hsl(0, 100%, 75%);
  --stopColor: hsl(0, 100%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

svg {
  width: 90vmin;
  height: 90vmin;
}

path {
  cursor: pointer;
}

p {
  position: absolute;
  font-size: 1.125rem;
  font-weight: 500;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.pixel {
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
}

.filterDetail {
  font-family: "Consolas", "Menlo", "Ubuntu Mono", monospace;
}